<?xml version="1.0"?>
<configuration>
  <appSettings file="amazon.config" >
    <add key="SimpleDbAccessKey" value=""/>
    <add key="SimpleDbSecretKey" value=""/>
    <add key="SimpleDbRegion" value=""/>
    <add key="SimpleDbApplicationName" value="SimpleDbIntegration"/>
    <add key="SimpleDbEnvironment" value="Dev"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
